<!DOCTYPE html>
<html>
<head>
    <title>Restaurant Recommendations</title>
    <link rel="stylesheet" type="text/css" href="/static/index.css">
</head>
<body>
<div class="index-card">
    <h1 class="header">Restaurant Recommendations</h1>
    <form action="/" method="POST">
        <label for="location" class="form-label">Desired Location:</label>
        <input type="text" id="location" name="location" class="form-input" required><br><br>
        <input type="submit" value="Search" class="submit-button">
    </form>
</div>
</body>
</html>
